#projectList {
    display: grid;
    justify-content: center;
}

.projectCard {
    width: 50vmax
}

.projectCard .btn-custom {
    color: black;
    background-color: transparent
}

.projectCard .btn-custom:hover {
    color: gray;
}

.projectCard .btn-custom:focus {
    color: gray;
}

.projectCard .btn-custom:active {
    color: black;
}