/* Color Palette: https://coolors.co/palette/cfdbd5-e8eddf-f5cb5c-242423-333533 */

.header {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #333533
}

h1 {
    font-size: 40px;
    color: #E8EDDF
}

h3 {
    color: #CFDBD5
}

.name {
    color: #F5CB5C
}

p {
    font-weight: bolder;
    color: #F5CB5C
}

a {
    color: #F5CB5C;
    text-decoration: none;
}

a:hover {
    background-color: #E8EDDF;
}